# Ignore Git and VSCode specific files
.git
.gitignore
.gitattributes
.vscode/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore build artifacts
build/
dist/
*.egg-info/
*.spec

# Ignore environment files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore package files
packages-microsoft-prod.deb
